<h1>Climatic Patterns</h1>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            {{#climatic_patterns}}
        </tr>
        <tr>
            <td class="category">
                {{category_name}}
            </td>
            {{#items}}
                <td data-toggle="tooltip" title="{{description}}">
                    {{name}}
                </td>
            {{/items}}
            {{/climatic_patterns}}
        </tr>
    </tbody>
</table>