<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <h1>Climate</h1>
        <p>While understanding the competitive Landscape is extremely helpful, it's also important to understand the <strong>Climate</strong> — the external forces acting upon it. These are the broader rules of the game, the patterns of the seasons, and competitor actions.</p>
        <p>Below are two patterns you've already encountered.</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-xl-8">
        <h2>Pattern 1: Everything Evolves Through Supply and Demand Competition</h2>
        <p>If the conditions exist that a person or groups of people will strive to gain some form of advantage or control over others due to a constraint (i.e. a limitation of a resource or time or money or people) then we have competition.</p>
        <p>If competition exists then the components effected will evolve until they become industrialised. This impacts everything from activities (what we do), practices (how we do something), data (how we measure something) to knowledge (how we understand something).</p>
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="4">
                        <svg class="svg-hidden">
                            <defs>
                                <symbol id="arrow-right" viewBox="0 0 64 64" preserveAspectRatio="none">
                                    <title>arrow-right</title>
                                    <path d="M62 32l-2-30v18h-62v24h62v18z"></path>
                                </symbol>
                            </defs>
                        </svg>
                        <svg class="arrow-right">
                            <use href="#arrow-right"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%;">
                        <h3 class="text-danger">Genesis</h3>
                    </td>
                    <td style="width: 20%;">
                        <h3 class="text-warning">Custom</h3>
                    </td>
                    <td style="width: 30%;">
                        <h3 class="text-success">Product<br />(+rental)</h3>
                    </td>
                    <td style="width: 30%;">
                        <h3 class="text-info">Commodity<br />(+utility)</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Focus on exploring</p>
                    </td>
                    <td>
                        <p>Focus on learning and developing the craft</strong></p>
                    </td>
                    <td>
                        <p>Focus on refining and improving</p>
                    </td>
                    <td>
                        <p>Focus on ruthlessly removing deviation, industrialising, and increasing operational efficiency</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-xl-8">
        <h2>Pattern 2: Characteristics Change as Capabilities Evolve</h2>
        <p>The characteristics of a component in the uncharted space are not the same as the characteristics of the same component when it becomes industrialised.</p>
        <p>A company has to manage both the extremes along with the evolution between them. It’s really important to remember that there is a transition from uncharted to industrialised. Don’t organise by the extremes alone.</p>
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="4">
                        <svg class="svg-hidden">
                            <defs>
                                <symbol id="arrow-right" viewBox="0 0 64 64" preserveAspectRatio="none">
                                    <title>arrow-right</title>
                                    <path d="M62 32l-2-30v18h-62v24h62v18z"></path>
                                </symbol>
                            </defs>
                        </svg>
                        <svg class="arrow-right">
                            <use href="#arrow-right"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Uncharted</strong></td>
                    <td colspan="2" class="text-right"><strong>Industrialised</strong></td>
                </tr>
                <tr>
                    <td colspan="2">Chaotic</td>
                    <td colspan="2" class="text-right">Ordered</td>
                </tr>
                <tr>
                    <td colspan="2">Uncertain</td>
                    <td colspan="2" class="text-right">Known</td>
                </tr>
                <tr>
                    <td colspan="2">Unpredictable</td>
                    <td colspan="2" class="text-right">Measured</td>
                </tr>
                <tr>
                    <td colspan="2">Changing</td>
                    <td colspan="2" class="text-right">Stable</td>
                </tr>
                <tr>
                    <td colspan="2">Different</td>
                    <td colspan="2" class="text-right">Standard</td>
                </tr>
                <tr>
                    <td colspan="2">Exciting</td>
                    <td colspan="2" class="text-right">Obvious</td>
                </tr>
                <tr>
                    <td colspan="2">Future Worth</td>
                    <td colspan="2" class="text-right">Low Margin</td>
                </tr>
                <tr>
                    <td colspan="2">Unusual</td>
                    <td colspan="2" class="text-right">Essential</td>
                </tr>
                <tr>
                    <td colspan="2">Rare</td>
                    <td colspan="2" class="text-right">Ubiquitous</td>
                </tr>
                <tr>
                    <td colspan="2">Poorly Understood</td>
                    <td colspan="2" class="text-right">Defined</td>
                </tr>
                <tr>
                    <td colspan="2">Experimentation</td>
                    <td colspan="2" class="text-right">Volume Operations</td>
                </tr>
                <tr>
                    <td colspan="2">Differential</td>
                    <td colspan="2" class="text-right">Operational Efficiency</td>
                </tr>
                <tr>
                    <td colspan="2">Competitive Advantage</td>
                    <td colspan="2" class="text-right">Cost of Doing Business</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-xl-8">
        <h1>Table of Climatic Patterns</h1>
        <p>Below are Climatic Patterns that can be studied and integrated into strategic thinking about Competition, Components (Capabilities), Finances, Inertia, Prediction, and Speed. Mouse over each cell for more detailed descriptions.</p>
        <table class="table table-bordered table-hover table-fixed-width">
            <tbody>
                <tr>
                    {{#climatic_patterns}}
                </tr>
                <tr>
                    <td class="category" rowspan="{{rowspan}}">
                        {{category_name}}
                    </td>
                    {{#item_rows.1}}
                        <td data-toggle="tooltip" title="{{description}}">
                            {{name}}
                        </td>
                    {{/item_rows.1}}
                </tr>
                <tr>
                    {{#item_rows.2}}
                        <td data-toggle="tooltip" title="{{description}}">
                            {{name}}
                        </td>
                    {{/item_rows.2}}
                    {{/climatic_patterns}}
                </tr>
            </tbody>
        </table>
        <p class="text-center"><small>Courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#doctrine-tab').click()" role="button">Next &raquo;</a></p>