<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <h1>Doctrine</h1>
        <p>With an understanding of the Landscape and the external forces acting on it (Climate), next is the training of your people in the standard ways of operating and the techniques that you almost always should apply.</p>
        <p>Below is one of the doctrinal principals worth considering carefully.</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <h2>Principle 1: Use Appropriate Methods</h2>
        <p>In any large system, multiple methods (e.g., agile or lean or six sigma) may be used at the same time. You will need to be mindful of the particular context where each is appropriate.</p>
        <img class="img-fluid border" src="images/methods.png">
        <p class="text-center"><small>Courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12 col-xl-8">
        <h1>Table of Doctrinal Principles</h1>

        <p>Below are Doctrinal Principles that can be studied and integrated into organizational behavior. Simon recommends starting with the basics (Phase 1). Mouse over each cell for more detailed descriptions, and click cells multiple times to make a self assessment, rotating through weak, warning, good, and neutral (undetermined) statuses.</p>
        <p class="lead"></p>
        <h4 class="mt-3">Phase 1: Stop Self-Destructive Behavior</h4>
        <table class="table table-bordered table-hover table-fixed-width">
            <tbody>
                <tr>
                    {{#doctrine.1}}
                </tr>
                <tr>
                    <td class="category" rowspan={{rowspan}}>
                        {{category_name}}
                    </td>
                    {{#item_rows.1}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.1}}
                </tr>
                <tr>
                    {{#item_rows.2}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.2}}
                    {{/doctrine.1}}
                </tr>
            </tbody>
        </table>

        <h4 class="mt-3">Phase 2: Becoming More Context Aware</h4>
        <table class="table table-bordered table-hover table-fixed-width">
            <tbody>
                <tr>
                    {{#doctrine.2}}
                </tr>
                <tr>
                    <td class="category" rowspan={{rowspan}}>
                        {{category_name}}
                    </td>
                    {{#item_rows.1}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.1}}
                </tr>
                <tr>
                    {{#item_rows.2}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.2}}
                    {{/doctrine.2}}
                </tr>
            </tbody>
        </table>

        <h4 class="mt-3">Phase 3: Better for Less</h4>
        <table class="table table-bordered table-hover table-fixed-width">
            <tbody>
                <tr>
                    {{#doctrine.3}}
                </tr>
                <tr>
                    <td class="category" rowspan={{rowspan}}>
                        {{category_name}}
                    </td>
                    {{#item_rows.1}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.1}}
                </tr>
                <tr>
                    {{#item_rows.2}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.2}}
                    {{/doctrine.3}}
                </tr>
            </tbody>
        </table>

        <h4 class="mt-3">Phase 4: Continuously Evolving</h4>
        <table class="table table-bordered table-hover table-fixed-width">
            <tbody>
                <tr>
                    {{#doctrine.4}}
                </tr>
                <tr>
                    <td class="category" rowspan={{rowspan}}>
                        {{category_name}}
                    </td>
                    {{#item_rows.1}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.1}}
                </tr>
                <tr>
                    {{#item_rows.2}}
                        <td class="{{classes}}" data-toggle="tooltip" title="{{description}}">
                            {{name}} <em>{{parenthetical}}</em>
                        </td>
                    {{/item_rows.2}}
                    {{/doctrine.4}}
                </tr>
            </tbody>
        </table>
        <p class="text-center"><small>Adapted by <a target="_blank" href="https://twitter.com/tasshinfogleman">Tasshin Fogleman</a> from <a target="_blank" href="https://twitter.com/swardley/status/993517588113186817">this tweetstorm</a> and <a target="_blank" href="https://medium.com/wardleymaps/better-for-less-58fe8c0a3aaa">Better for Less</a>, courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>

        <h2>Additional Instructions</h2>
        <p>By examining the doctrine in an organization, you can get an idea of how adaptable it is and how well it will respond to external change or gameplay. You can do this with your own organization, or with other organizations.</p>
        <p>In-person? Gather several people from different levels of the organization and perform the above self-assessment together. Distributed? See <a target="_blank" href="http://justin.stach.uk/doctrine_grid_tool">this form-based assessment</a> by Justin Stach.</p>
        <p>Once you've assessed the current state of doctrine in your organization, you can go about addressing areas of weakness, starting with the first phase.</p>

    </div>
</div>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#leadership-tab').click()" role="button">Next &raquo;</a></p>