<h1>Doctrine</h1>

<p class="lead">The doctrine list is simply a list of <strong>universally useful patterns</strong>.</p>

<div class="card">
    <div class="card-body">
        <p>Doctrine is a component of the strategy cycle, as described by <a href="https://twitter.com/swardley">Simon Wardley</a> in <a href="https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec">his book on mapping</a>. By examining the doctrine in an organization, you can get an idea of how adaptable it is and how well it will respond to external change or gameplay. You can do this with your own organization, or with other organizations.</p>

        <p>Grab 10-15 people across the organisation (at different levels) and get them to colour the boxes in. Be warned, there'll be lots of arguments but that's not a bad thing.</p>

        <p>Once you've assessed the status quo of doctrine in your organization, you can go about addressing areas of weakness. Simon suggests you do this in phases. The remainder of this page presents his best guess at the order in which you should tackle them.</p>

        <p>You can <strong>select cells to highlight them</strong> as you think, discuss, and challenge assumptions. You can <strong>click multiple times to progress through colors</strong> indicating a neutral, weak, warning, and good status.</p>

        <p><em>Inspired by and adapted from <a href="https://twitter.com/swardley/status/993517588113186817">this tweetstorm</a> by Simon Wardley as well as <a href="https://medium.com/wardleymaps/better-for-less-58fe8c0a3aaa">Better for less</a>.</em></p>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="min-width: 200px;">Principle</th>
            <th scope=" col">Category</th>
            <th scope=" col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{#doctrine}}
            <tr>
                <th scope="row" colspan="3">Stage {{stage}}</th>
            </tr>
            {{#items}}
                <tr>
                    <td scope="row"><em>{{name}}</em></td>
                    <td>{{category}}</td>
                    <td>{{description}}</td>
                </tr>
            {{/items}}
        {{/doctrine}}
    </tbody>
</table>