<h1>Doctrine (Self-Assessment)</h1>

<p class="lead">The training of your people, the standard ways of operating, and the techniques that you almost always apply. Select cells multiple times to progress through colors indicating a weak, warning, good, and neutral (undetermined) status.</p>
<p class="lead"></p>
<h4 class="mt-3">Phase 1: Stop Self Harm</h4>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            {{#doctrine.1}}
        </tr>
        <tr>
            <td class="category">
                {{category_name}}
            </td>
            {{#items}}
                <td class="rotated-markable" data-toggle="tooltip" title="{{description}}">
                    {{name}} <em>{{parenthetical}}</em>
                </td>
            {{/items}}
            {{/doctrine.1}}
        </tr>
    </tbody>
</table>

<h4 class="mt-3">Phase 2: Becoming More Context Aware</h4>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            {{#doctrine.2}}
        </tr>
        <tr>
            <td class="category">
                {{category_name}}
            </td>
            {{#items}}
                <td class="rotated-markable" data-toggle="tooltip" title="{{description}}">
                    {{name}} <em>{{parenthetical}}</em>
                </td>
            {{/items}}
            {{/doctrine.2}}
        </tr>
    </tbody>
</table>

<h4 class="mt-3">Phase 3: Better for Less</h4>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            {{#doctrine.3}}
        </tr>
        <tr>
            <td class="category">
                {{category_name}}
            </td>
            {{#items}}
                <td class="rotated-markable" data-toggle="tooltip" title="{{description}}">
                    {{name}} <em>{{parenthetical}}</em>
                </td>
            {{/items}}
            {{/doctrine.3}}
        </tr>
    </tbody>
</table>

<h4 class="mt-3">Phase 4: Continuously Evolving</h4>
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            {{#doctrine.4}}
        </tr>
        <tr>
            <td class="category">
                {{category_name}}
            </td>
            {{#items}}
                <td class="rotated-markable" data-toggle="tooltip" title="{{description}}">
                    {{name}} <em>{{parenthetical}}</em>
                </td>
            {{/items}}
            {{/doctrine.4}}
        </tr>
    </tbody>
</table>
<p><small>Adapted by <a target="_blank" href="https://twitter.com/tasshinfogleman">Tasshin Fogleman</a> from <a target="_blank" href="https://twitter.com/swardley/status/993517588113186817">this tweetstorm</a> and <a target="_blank" href="https://medium.com/wardleymaps/better-for-less-58fe8c0a3aaa">Better for Less</a>, courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>

<h2>Additional Instructions</h2>
<p>By examining the doctrine in an organization, you can get an idea of how adaptable it is and how well it will respond to external change or gameplay. You can do this with your own organization, or with other organizations.</p>
<p>In-person? Gather several people from different levels of the organization and perform the above self-assessment together. (There may be arguments, but that's not a bad thing.) Distributed? See <a target="_blank" href="http://justin.stach.uk/doctrine_grid_tool">this form-based assessment</a> by Justin Stach.</p>
<p>Once you've assessed the status quo of doctrine in your organization, you can go about addressing areas of weakness. Simon suggests you do this in phases. The above self-assessment's phases presents his best guess at the order in which you should tackle them.</p>