<h1>The Evolutionary Characteristics Cheat Sheet</h1>

<p class="lead">A list of <strong>characteristics and properties</strong> to help determine how evolved something is.</p>

<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#evolution-learn" aria-expanded="false" aria-controls="collapseExample">
    Learn more
</button>

<div class="collapse" id="evolution-learn">
    <div class="card">
        <div class="card-body">
            <p class="lead">All components <strong>evolve from left to right</strong> under the influence of supply and demand competition.</p>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            <h3>I</h3>
                        </th>
                        <th>
                            <h3>II</h3>
                        </th>
                        <th>
                            <h3>III</h3>
                        </th>
                        <th>
                            <h3>IV</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <svg class="svg-hidden">
                                <defs>
                                    <symbol id="arrow-right" viewBox="0 0 64 64" preserveAspectRatio="none">
                                        <title>arrow-right</title>
                                        <path d="M62 32l-2-30v18h-62v24h62v18z"></path>
                                    </symbol>
                                </defs>
                            </svg>
                            <svg class="arrow-right">
                                <use href="#arrow-right"></use>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="text-danger">Genesis</h3>
                            <p>Unique, rare, uncertain, constantly changing, newly-discovered.</p>
                            <p>The focus is on <strong>exploring</strong>.</p>
                        </td>
                        <td>
                            <h3 class="text-warning">Custom</h3>
                            <p>Uncommon, frequently-changing, requires artisanal skill, no two are the same.</p>
                            <p>The focus is on <strong>learning</strong> and <strong>developing the craft</strong></p>
                        </td>
                        <td>
                            <h3 class="text-success">Product (and rental)</h3>
                            <p>Increasingly common, more defined, better understood. Repeatable processes. Change is slower. Initial differentiation but increasing stability and sameness. There are often many of the same kind of product.</p>
                            <p>The focus is on <strong>refining</strong> and <strong>improving</strong>.</p>
                        </td>
                        <td>
                            <h3 class="text-info">Commodity (and utility)</h3>
                            <p>Scale and volume operations of production. Highly standardized. Defined. Fixed. Undifferentiated. Fit for a specific known purpose. Repetition, repetition, repetition... With time, it becomes commonplace and less visible.</p>
                            <p>The focus is on <strong>ruthlessly removing deviation</strong>, <strong>industrialising</strong>, and <strong>increasing operational efficiency</strong>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="lead">As components evolve, <strong>their characteristics change</strong>.</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <h3>I</h3>
                            </th>
                            <th>
                                <h3>II</h3>
                            </th>
                            <th>
                                <h3>III</h3>
                            </th>
                            <th>
                                <h3>IV</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-danger">
                                <h3>Genesis</h3>
                            </td>
                            <td class="text-warning">
                                <h3>Custom</h3>
                            </td>
                            <td class="text-success">
                                <h3>Product (+rental)</h3>
                            </td>
                            <td class="text-info">
                                <h3>Commodity (+utility)</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><svg class="arrow-right">
                                    <use href="#arrow-right"></use>
                                </svg></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Uncharted</strong></td>
                            <td colspan="2" class="text-right"><strong>Industrialised</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2">Chaotic</td>
                            <td colspan="2" class="text-right">Ordered</td>
                        </tr>
                        <tr>
                            <td colspan="2">Uncertain</td>
                            <td colspan="2" class="text-right">Known</td>
                        </tr>
                        <tr>
                            <td colspan="2">Unpredictable</td>
                            <td colspan="2" class="text-right">Measured</td>
                        </tr>
                        <tr>
                            <td colspan="2">Changing</td>
                            <td colspan="2" class="text-right">Stable</td>
                        </tr>
                        <tr>
                            <td colspan="2">Different</td>
                            <td colspan="2" class="text-right">Standard</td>
                        </tr>
                        <tr>
                            <td colspan="2">Exciting</td>
                            <td colspan="2" class="text-right">Obvious</td>
                        </tr>
                        <tr>
                            <td colspan="2">Future Worth</td>
                            <td colspan="2" class="text-right">Low Margin</td>
                        </tr>
                        <tr>
                            <td colspan="2">Unusual</td>
                            <td colspan="2" class="text-right">Essential</td>
                        </tr>
                        <tr>
                            <td colspan="2">Rare</td>
                            <td colspan="2" class="text-right">Ubiquitous</td>
                        </tr>
                        <tr>
                            <td colspan="2">Poorly Understood</td>
                            <td colspan="2" class="text-right">Defined</td>
                        </tr>
                        <tr>
                            <td colspan="2">Experimentation</td>
                            <td colspan="2" class="text-right">Volume Operations</td>
                        </tr>
                        <tr>
                            <td colspan="2">Differential</td>
                            <td colspan="2" class="text-right">Operational Efficiency</td>
                        </tr>
                        <tr>
                            <td colspan="2">Competitive Advantage</td>
                            <td colspan="2" class="text-right">Cost of Doing Business</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <blockquote class="mt-3 blockquote">
                <p class="mb-0">Don’t worry if some of the terms are confusing... just use what you can. Like Chess, mapping is a craft and you will get better with practice.</p>
                <footer class="blockquote-footer">Simon Wardley in <cite title="Finding a Path"><a href="https://medium.com/wardleymaps/finding-a-path-cdb1249078c0" target="_blank">Finding a Path</a></cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">Stages of Evolution</th>
            <th scope="col">
                <h3 class="text-danger">Genesis</h3>
            </th>
            <th scope="col">
                <h3 class="text-warning">Custom</h3>
            </th>
            <th scope="col">
                <h3 class="text-success">Product (+rental)</h3>
            </th>
            <th scope="col">
                <h3 class="text-info">Commodity (+utility)</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" colspan="1"></td>
            <td colspan="4">
                <svg class="arrow-right">
                    <use href="#arrow-right"></use>
                </svg>
            </td>
        </tr>
        {{#evolutionary_characteristics}}
            <tr>
                <th scope="row" colspan="5">{{category_name}}</th>
            </tr>
            {{#items}}
                <tr>
                    <td scope="row"><em>{{name}}</em></td>
                    <td>{{genesis}}</td>
                    <td>{{custom}}</td>
                    <td>{{product_rental}}</td>
                    <td>{{commodity_utility}}</td>
                </tr>
            {{/items}}
        {{/evolutionary_characteristics}}
    </tbody>
</table>