<h1>Gameplay</h1>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            {{#gameplay}}
        </tr>
        <tr>
            <td class="category">
                {{category_name}}
            </td>
            {{#items}}
                <td class="markable" data-toggle="tooltip" title="{{description}}">
                    {{name}}
                </td>
            {{/items}}
            {{/gameplay}}
        </tr>
    </tbody>
</table>