<h1>Glossary</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope=" col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{#glossary}}
            <tr>
                <td scope="row"><em>{{name}}</em></td>
                <td>{{description}}</td>
            </tr>
        {{/glossary}}
    </tbody>
</table>
<img src="images/glossary-notation.jpeg" class="img-fluid">
<p class="text-center"><small>Image courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>