<h1>Wardley Mapping</h1>
<p class="lead">A visual method for exploring, understanding, and communicating strategy.</p>
<p>Licensed <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0</a>, courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>.</p>