<h1>Wardley Mapping</h1>
<p class="lead">A visual method for exploring, understanding, and communicating strategy in a world of constant change.</p>

<div class="row">
    <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ezrS_LQJkvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<h2 class="mt-3">Making a Wardley Map</h2>
<p>
    <ol>
        <li>Know your users (who do you serve?)</li>
        <li>Know their needs (why do they come to you?)</li>
        <li>Understand the prerequisites to meeting those needs (what are the high-level activities involved?) </li>
        <li>Create the value chain (the users, needs, and prerequisites, all connected from top to bottom in terms of dependence)</li>
        <li>Create the map (each component of the value chain placed in a stage of evolution based on its characteristics)</li>
    </ol>
</p>

<div class="row">
    <div class="col-4">
        <div id="introCarousel" class="carousel slide mt-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#introCarousel" data-slide-to="1"></li>
                <li data-target="#introCarousel" data-slide-to="2"></li>
                <li data-target="#introCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="images/intro-1.png" alt="Users and Needs">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/intro-2.png" alt="Users, Needs, and Prerequisites">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/intro-3.png" alt="The Value Chain (Users, Needs, and Prerequisites All Connected from Top to Bottom in Terms of Dependence)">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/intro-4.png" alt="The Map (Each Component of the Value Chain Placed in its Evolutionary Stage)">
                </div>
            </div>
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p class="text-center"><small>Images courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>

<h2 class="mt-3">Wardley Mapping as a Thinking Process</h2>
<p>Mapping helps with questions such as:</p>
<p>
    <ul>
        <li>Where should you focus? (Why here over there?)</li>
        <li>Which aspects should you own and build in-house? Which should you buy off-the-shelf or outsource?</li>
        <li>Which methodologies should you use and in which situations?</li>
        <li>Where are your competitors relative to you?</li>
        <li>What market changes can you anticipate?</li>
        <li>How can you organize to accommodate continuous change?</li>
        <li>Which context-specific strategic plays are currently possible?</li>
    </ul>
</p>

<p>Get started by reading <a target="_blank" href="https://bit.ly/WardleyMappingBook">Simon Wardley's free book</a>. You can find additional <a target="_blank" href="https://hiredthought.com/wardley-mapping">learning resources and tools here</a>.</p>
<div class="row">
    <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ie2KtSU_ndQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<p><small>Wardley Mapping is licensed <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0</a>, courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>.</small></p>