<h1>Introduction</h1>
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Gfq3ocmadZo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="text-center"><small>Video courtesy of <a target="_blank" href="https://www.iluli.eu/">iluli by Mike Lamb</a>.</small></p>

        <p class="mt-3">Wardley Mapping is licensed <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0</a>, courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>.</p>
    </div>
</div>
<h1>Definitions</h1>
<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <p class="lead"><strong>Wardley Mapping</strong> <small class="ml-2"><code>/wôrdlē mapping/</code></small> <small class="ml-2 text-muted"><em>verb</em></small></p>
        <p>The process of making strategic decisions (<strong>leadership</strong>) based on the <strong>purpose</strong> ("the game"), a description of the competitive <strong>landscape</strong> (a map), the external forces acting on the landscape (<strong>climate</strong>), and the training of your people (<strong>doctrine</strong>).</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <img class="img-fluid border" src="images/cycle_adapted.png">
        <p class="text-center"><small>Strategy Cycle courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <p class="lead"><strong>Wardley Map</strong> <small class="ml-2"><code>/wôrdlē map/</code></small> <small class="ml-2 text-muted"><em>noun</em></small></p>
        <p>A value chain — a chain of needs — (users, needs, and capabilities arranged and connected according to dependency) mapped against the four stages of evolution (Genesis, Custom, Product, and Commodity).</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <img class="img-fluid border" src="images/map_placeholders.png">
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-8 col-xl-6">
        <h1>The Art of War</h1>
        <p>Simon Wardley, in his search to understand how to evaluate strategy, found answers in military history and <em>Sun Tzu: The Art of War</em>. Sun Tzu's Five Factors — Purpose, Landscape, Climate, Doctrine, and Leadership — covered the minimum set of considerations required for strategic decision-making.</p>
        <p>In military contexts, a map formed the basis for understanding the Landscape. But in the absence of a physical competitive landscape, were there maps in business? To find out, <a target="_blank" href="https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec">see Simon's book</a> or keep reading.</p>
    </div>
</div>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#purpose-tab').click()" role="button">Next &raquo;</a></p>