<h1>Landscape</h1>
<p class="lead">A description of your competitive environment, including its features, your position, and any obstacles in the way.</p>

<p>To map your landscape:
    <ol>
        <li>Know your users (who you serve)</li>
        <li>Know their needs</li>
        <li>Know the prerequisite activities to meet those needs</li>
        <li>Add position (connect users, needs, and prerequisites from top to bottom according to dependence)</li>
        <li>Add movement (place needs and prerequisites left to right according to <a href="#determining-movement">evolutionary stage</a>)</li>
    </ol>
</p>
<div class="row">
    <div class="col-12 col-xl-8">
        <img class="img-fluid" src="images/map-breakdown.jpg">
        <p class="text-center"><small>Image courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, color annotations by Hired Thought, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>

<h2 class="mt-3" id="determining-movement">Determining Movement</h2>
<p class="lead">An interactive list of <strong>characteristics</strong> to help you determine how evolved something is (select cells to highlight).</p>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">Stages of Evolution</th>
            <th scope="col">
                <h3 class="text-danger">Genesis</h3>
            </th>
            <th scope="col">
                <h3 class="text-warning">Custom</h3>
            </th>
            <th scope="col">
                <h3 class="text-success">Product<br />(+rental)</h3>
            </th>
            <th scope="col">
                <h3 class="text-info">Commodity<br />(+utility)</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" colspan="1"></td>
            <td colspan="4">
                <svg class="arrow-right">
                    <use href="#arrow-right"></use>
                </svg>
            </td>
        </tr>
        {{#evolutionary_characteristics}}
            <tr>
                <td class="category" scope="row"><strong>{{category_name}}</strong></td>
                <td colspan="5"></td>
            </tr>
            {{#items}}
                <tr>
                    <td class="category" scope="row"><em>{{name}}</em></td>
                    <td class="markable">{{genesis}}</td>
                    <td class="markable">{{custom}}</td>
                    <td class="markable">{{product_rental}}</td>
                    <td class="markable">{{commodity_utility}}</td>
                </tr>
            {{/items}}
        {{/evolutionary_characteristics}}
    </tbody>
</table>
<p class="text-center"><small>Based on <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>'s, <a target="_blank" href="https://blog.gardeviance.org/2016/04/whats-in-wardley-map-and-need-for-cheat.html">Evolutionary Characteristics Cheat Sheet</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>

<blockquote class="mt-3 blockquote">
    <p class="mb-0">Don’t worry if some of the terms are confusing... just use what you can. Like Chess, mapping is a craft and you will get better with practice.</p>
    <footer class="blockquote-footer">Simon Wardley in <cite title="Finding a Path"><a href="https://medium.com/wardleymaps/finding-a-path-cdb1249078c0" target="_blank">Finding a Path</a></cite></footer>
</blockquote>