<h1>Leadership (Gameplay)</h1>
<p class="lead">The context-specific strategy you choose after considering your purpose, the landscape, the climate, and your capabilities.</p>

<table class="table table-bordered table-hover table-fixed-width">
    <tbody>
        <tr>
            {{#gameplay}}
        </tr>
        <tr>
            <td class="category" rowspan={{rowspan}}>
                {{category_name}}
            </td>
            {{#item_rows.1}}
                <td data-toggle="tooltip" title="{{description}}">
                    {{name}}
                </td>
            {{/item_rows.1}}
        </tr>
        <tr>
            {{#item_rows.2}}
                <td data-toggle="tooltip" title="{{description}}">
                    {{name}}
                </td>
            {{/item_rows.2}}
            {{/gameplay}}
        </tr>
    </tbody>
</table>
<p class="text-center"><small>Based on <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>'s, <a target="_blank" href="https://blog.gardeviance.org/2015/05/on-61-different-forms-of-gameplay.html">On 61 Different Forms of Gameplay</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#glossary-tab').click()" role="button">Next &raquo;</a></p>