<h1>Leadership (Gameplay)</h1>
<p class="lead">The context-specific strategy you choose after considering your purpose, the landscape, the climate, and your capabilities.</p>

<table class="table table-bordered table-hover table-fixed-width">
    <tbody>
        <tr>
            {{#gameplay}}
        </tr>
        <tr>
            <td class="category" rowspan={{rowspan}}>
                {{category_name}}
            </td>
            {{#item_rows.1}}
                <td data-toggle="tooltip" title="{{description}}">
                    {{name}}
                </td>
            {{/item_rows.1}}
        </tr>
        <tr>
            {{#item_rows.2}}
                <td data-toggle="tooltip" title="{{description}}">
                    {{name}}
                </td>
            {{/item_rows.2}}
            {{/gameplay}}
        </tr>
    </tbody>
</table>
<p class="text-center"><small>Based on <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>'s, <a target="_blank" href="https://blog.gardeviance.org/2015/05/on-61-different-forms-of-gameplay.html">On 61 Different Forms of Gameplay</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>

<h2 class="mt-3" id="scenario">A Scenario</h2>
<p>As an example, where might you focus in the below scenario (<a target="_blank" href="https://mapscript.org/ide/#_.eyJzb3VyY2UiOiJ1c2VyOiBlbnRlcnRhaW5tZW50XG4gIEB1dGlsaXR5OjJcblxuZW50ZXJ0YWlubWVudDogY29udGVudFxuICBAdXRpbGl0eToxXG5cbmNvbnRlbnQ6IGNyZWF0aXZlLXN0dWRpb3NcbiAgQHByb2R1Y3Q6MVxuXG5jcmVhdGl2ZS1zdHVkaW9zOiBwcm9kdWN0aW9uLXRhbGVudCBwcm9kdWN0aW9uLXN5c3RlbXNcbiAgQGN1c3RvbTo0XG5cbnByb2R1Y3Rpb24tdGFsZW50OiBwcm9kdWN0aW9uLXN5c3RlbXNcbiAgQGdlbmVzaXM6OVxuXG5wcm9kdWN0aW9uLXN5c3RlbXNcbiAgQHByb2R1Y3Q6MSJ9">view in MapScript</a>) if you wanted to increase competition around content?</p>
<div class="row">
    <div class="col-12 col-xl-8">
        <img class="img-fluid" src="images/scenario.png">
        <p class="text-center"><small>Image produced with <a target="_blank" href="https://mapscript.org">MapScript</a>, based on a scenario by <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
        <p>
            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#annotedScenario" aria-expanded="false" aria-controls="annotedScenario">
                View one possible answer...
            </button>
        </p>
        <div class="collapse" id="annotedScenario">
            <div class="card card-body">
                <p>To increase competition in content, the obvious option is to cause the industrialization (evolution) of the creative studios. More competition among studios would result in more, better content, so how could we make that happen?</p>
                <p>A naive move might be to launch an independent creative studio or form a strategic partnership to advance one particular studio, but that game can all-too-easily be lost. There are more interesting options in the lower-level constraints (a Fool's Mate).</p>
                <p>If there were more competition among production systems, for example, the barrier to entry for new talent and therefore new creative studios would be lowered. An open approach would accelerate that process, indirectly causing increased competition among creative studios and ultimately content.</p>
                <p>Chances are, the existing creative studios won't have the situational awareness to recognize the play for what it is. In fact, they might support it in the name of short-term cost savings. Wild! Read more on this scenario in Simon's post, <a target="_blank" href="https://blog.gardeviance.org/2014/11/fools-mate-in-business.html">Fool's mate in Business</a>.</p>
            </div>
        </div>
    </div>
</div>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#glossary-tab').click()" role="button">Next &raquo;</a></p>