<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <h1>Leadership (Gameplay)</h1>
        <p>Given your Purpose, the Landscape, the Climate, and your Doctrine, now you can make an informed decision about which strategy is appropriate for the context and take action against it.</p>

        <h2>Conditions and Consequences</h2>
        <p>For most of us, the traditional idea behind strategy is the deployment of people against some objective. "If we do <em>X</em>, then we will achieve <em>Y</em>!" This approach entails a "means-ends" model, which creates only first-order effects and limits leadership to the choice of which objective to pursue.</p>
        <p>An alternative approach is to examine the <em>conditions</em> that would make desirable <em>consequences</em> inevitable. Instead of pursuing one particular objective, the cultivation of the inherent potential within the situation to enable second-order effects makes many different desirable outcomes possible. Means-ends thinking is tactical in nature, while conditions-consequences thinking makes a grand-strategic approach possible.</p>
        <p>Think of it like tending a garden. What are the conditions that enable life? Success isn't about putting seeds in the ground. Success is an inevitable outcome when the seeds, soil, lighting, watering, weeding, pruning, pest control, temperature, and seasons are all considered and integrated into a complete picture of what it means to have a garden. Any one of those conditions can threaten the success of the garden if not accounted for.</p>
        <p>When you map, think about second-order interventions. Once you get past the basic doctrinal problems, like correcting bias, reducing duplication, focusing on user needs, and making maps in general, you'll start to reflect your more strategic intentions in the maps themselves (e.g., "We want to accelerate the evolution of <em>this</em> component."). The least brilliant thing to do at this point, however, is to brute force your way to that outcome.</p>
        <p>Instead, study the inherent potential of the context closely. What are the indirect options that create multiple desirable possibilities, of which that outcome is one? See <a target="_blank" href="https://www.amazon.com/Deciphering-Sun-Tzu-How-Read/dp/0199373515">Deciphering Sun Tzu</a> for a more in-depth exploration of these ideas.</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-xl-8">
        <h1>Table of Stratagems</h1>
        <table class="table table-bordered table-hover table-fixed-width">
            <tbody>
                <tr>
                    {{#gameplay}}
                </tr>
                <tr>
                    <td class="category" rowspan={{rowspan}}>
                        {{category_name}}
                    </td>
                    {{#item_rows.1}}
                        <td data-toggle="tooltip" title="{{description}}">
                            {{name}}
                        </td>
                    {{/item_rows.1}}
                </tr>
                <tr>
                    {{#item_rows.2}}
                        <td data-toggle="tooltip" title="{{description}}">
                            {{name}}
                        </td>
                    {{/item_rows.2}}
                    {{/gameplay}}
                </tr>
            </tbody>
        </table>
        <p class="text-center"><small>Based on <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>'s, <a target="_blank" href="https://blog.gardeviance.org/2015/05/on-61-different-forms-of-gameplay.html">On 61 Different Forms of Gameplay</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-xl-8">
        <h2 class="mt-3" id="scenario">A Scenario</h2>
        <p>As an example, where might you focus in the below scenario (<a target="_blank" href="https://mapscript.org/ide/#_.eyJzb3VyY2UiOiJ1c2VyOiBlbnRlcnRhaW5tZW50XG4gIEB1dGlsaXR5OjJcblxuZW50ZXJ0YWlubWVudDogY29udGVudFxuICBAdXRpbGl0eToxXG5cbmNvbnRlbnQ6IGNyZWF0aXZlLXN0dWRpb3NcbiAgQHByb2R1Y3Q6MVxuXG5jcmVhdGl2ZS1zdHVkaW9zOiBwcm9kdWN0aW9uLXRhbGVudCBwcm9kdWN0aW9uLXN5c3RlbXNcbiAgQGN1c3RvbTo0XG5cbnByb2R1Y3Rpb24tdGFsZW50OiBwcm9kdWN0aW9uLXN5c3RlbXNcbiAgQGdlbmVzaXM6OVxuXG5wcm9kdWN0aW9uLXN5c3RlbXNcbiAgQHByb2R1Y3Q6MSJ9">view in MapScript</a>) if you wanted to increase competition around content?</p>

        <img class="img-fluid" src="images/scenario.png">
        <p class="text-center"><small>Image produced with <a target="_blank" href="https://mapscript.org">MapScript</a>, based on a scenario by <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
        <p>
            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#annotedScenario" aria-expanded="false" aria-controls="annotedScenario">
                View one possible answer...
            </button>
        </p>
        <div class="collapse" id="annotedScenario">
            <div class="card card-body">
                <p>To increase competition in content, the obvious option is to cause the industrialization (evolution) of the creative studios. More competition among studios would result in more, better content, so how could we make that happen?</p>
                <p>A naive move might be to launch an independent creative studio or form a strategic partnership to advance one particular studio, but that game can all-too-easily be lost. There are more interesting options in the lower-level constraints (a Fool's Mate).</p>
                <p>If there were more competition among production systems, for example, the barrier to entry for new talent and therefore new creative studios would be lowered. An open approach would accelerate that process, indirectly causing increased competition among creative studios and ultimately content.</p>
                <p>Chances are, the existing creative studios won't have the situational awareness to recognize the play for what it is. In fact, they might support it in the name of short-term cost savings. Wild! Read more on this scenario in Simon's post, <a target="_blank" href="https://blog.gardeviance.org/2014/11/fools-mate-in-business.html">Fool's mate in Business</a>.</p>
            </div>
        </div>
    </div>
</div>
<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#glossary-tab').click()" role="button">Next &raquo;</a></p>