<h1>Purpose</h1>
<p class="lead">Your <strong>moral imperative</strong>. The <strong>scope</strong> of what you are doing and why you are doing it. The reason others follow you.</p>
<blockquote class="mt-3 blockquote">
    <p class="mb-0">Strategy is all about observing the landscape, understanding how it is changing and using what resources you have to maximise your chances of success. Obviously, you need to define what success is and that's where your purpose comes in. It's the yardstick by which you currently measure yourself. However, as this is a cycle, your very actions may also change your purpose and so don't get to stuck on it.</p>
    <footer class="blockquote-footer">Simon Wardley in <cite title="On Playing Chess"><a href="https://medium.com/wardleymaps/on-playing-chess-2634b825dbac" target="_blank">On Playing Chess</a></cite></footer>
</blockquote>

<div class="row">
    <div class="col-12 col-xl-8">
        <img class="img-fluid" src="images/cycle.png">
        <p class="text-center"><small>Image courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>

<blockquote class="mt-3 blockquote">
    <p class="mb-0">The climate may affect your purpose, the environment may affect your strategy and your actions may affect all... Your purpose isn’t fixed, it changes as your landscape changes and as you act. There is no “core”, it’s all transitional.</p>
    <footer class="blockquote-footer">Simon Wardley in <cite title="On Being Lost"><a href="https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec" target="_blank">On Being Lost</a></cite></footer>
</blockquote>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#landscape-tab').click()" role="button">Next &raquo;</a></p>