<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <h1>Purpose</h1>
        <p>In Wardley Mapping, <strong>Purpose</strong> is "the game" being played. It defines the scope of what you are doing and why you are doing it. It may be a moral imperative or just what motivates you to come to work every day.</p>
        <p>Purpose is the first step in the strategy cycle. Because many leaders do not understand the importance of Landscape, Climate, and Doctrine, they commonly shortcut the cycle and jump straight from Purpose to strategic decisions in Leadership. This "strategy by gut feel" is an inadequate approach for strategic thought.</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <img class="img-fluid border" src="images/cycle_adapted_shortcut.png">
        <p class="text-center"><small>Strategy Cycle courtesy of <a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.</small></p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 col-xl-6">
        <blockquote class="mt-3 blockquote">
            <p class="mb-0">The climate may affect your purpose, the environment may affect your strategy and your actions may affect all... Your purpose isn’t fixed, it changes as your landscape changes and as you act. There is no “core”, it’s all transitional.</p>
            <footer class="blockquote-footer">Simon Wardley in <cite title="On Being Lost"><a href="https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec" target="_blank">On Being Lost</a></cite></footer>
        </blockquote>
    </div>
</div>

<p><a class="btn btn-secondary btn-lg" href="#" onclick="$('#landscape-tab').click()" role="button">Next &raquo;</a></p>